.idea
.DS_Store
pids
logs
results
build
thumbs.db

node_modules

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release


# Debug log from npm
npm-debug.log

.env